<mat-toolbar color="primary" class="toolbar">
  <span class="logo" routerLink="/">Product Bidding Mart</span>
  
  <span class="spacer"></span>
  
  <ng-container *ngIf="showSearchBar">
    <div class="search-box">
      <mat-form-field class="search-bar" appearance="outline">
        <mat-icon matPrefix class="search-icon">search</mat-icon>
        <input matInput placeholder="Search for Products, Brands and More" [(ngModel)]="searchQuery" (keyup.enter)="onSearch()">
        <button mat-icon-button matSuffix (click)="onSearch()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </ng-container>
  
  <span class="spacer"></span>
  
  <ng-container *ngIf="(currentUser$ | async) as user; else authButtons">
    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
      {{ user.firstName }}
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </button>
      <button mat-menu-item routerLink="/profile">
        <mat-icon>person</mat-icon>
        <span>Profile Settings</span>
      </button>
      <button mat-menu-item routerLink="/wallet">
        <mat-icon>account_balance_wallet</mat-icon>
        <span>My Wallet</span>
      </button>
      <button mat-menu-item routerLink="/orders">
        <mat-icon>shopping_bag</mat-icon>
        <span>My Orders</span>
      </button>
      <button mat-menu-item routerLink="/listings">
        <mat-icon>store</mat-icon>
        <span>My Listings</span>
      </button>
      <button mat-menu-item routerLink="/bids">
        <mat-icon>gavel</mat-icon>
        <span>My Bids</span>
      </button>
      <button mat-menu-item routerLink="/favorites">
        <mat-icon>favorite</mat-icon>
        <span>Favorites</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </ng-container>
  
  <ng-template #authButtons>
    <button mat-button routerLink="/auth/login">Login</button>
    <button mat-raised-button color="accent" routerLink="/auth/register">Register</button>
  </ng-template>
</mat-toolbar>

<router-outlet></router-outlet>
